BODY
{
    FONT-FAMILY: Verdana
}
A
{
    FONT-SIZE: 10pt;
    COLOR: #cc0000;
    TEXT-DECORATION: none
}
A.NavLinks
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: red;
    FONT-FAMILY: Verdana
}
A.menutext
{
    FONT-WEIGHT: normal;
    FONT-SIZE: xx-small;
    COLOR: white;
    FONT-FAMILY: Verdana, Tahoma, Arial;
    TEXT-DECORATION: none
}
A.menutext:hover
{
    COLOR: yellow
}
A.QuickLink
{
    COLOR: white
}
A.QuickLink:hover
{
    COLOR: #cc0000
}
A.FireLink
{
    COLOR: #cc0000
}
A.FireLink:hover
{
    COLOR: white
}
A.Public
{
    FONT-WEIGHT: bold;
    COLOR: #cc0000
}
A.Public:hover
{
    FONT-WEIGHT: bold;
    COLOR: #cc0000;
    TEXT-DECORATION: underline
}
A.News
{
    FONT-WEIGHT: normal;
    COLOR: #cc0000
}
A.News:hover
{
    FONT-WEIGHT: normal;
    COLOR: #cc0000;
    TEXT-DECORATION: underline
}
A.Image
{
    COLOR: black
}
A.Image:hover
{
    COLOR: black
}
A.Image:visited
{
    COLOR: black
}
.menubox
{
    DISPLAY: none;
    PADDING-LEFT: 0px;
    Z-INDEX: 9;
    PADDING-BOTTOM: 7px;
    POSITION: absolute;
    BACKGROUND-COLOR: #330099
}
TD.PageTitle
{
    FONT-WEIGHT: 900;
    FONT-SIZE: 12pt;
    COLOR: #330099;
    FONT-FAMILY: 'Trebuchet MS'
}
TD.SubHeader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #330099;
    TEXT-ALIGN: left
}
TD.SubHeaderCenter
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #330099;
    TEXT-ALIGN: center
}
TD.RotationHeader
{
    FONT-SIZE: 8pt;
    COLOR: white;
    BACKGROUND-COLOR: #330099;
    TEXT-ALIGN: center
}
TD.ContactInfo
{
    FONT-SIZE: 8pt
}
TD.AppLabel
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Arial
}
TD.RotationLabel
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial
}
TD.MOTF1
{
    COLOR: white;
    BACKGROUND-COLOR: #cc0000
}
TD.RotationRegion
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: 'Trebuchet MS'
}
TD.Content
{
    FONT-SIZE: 10pt
}
.Caption
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    COLOR: #1b00a1;
    FONT-FAMILY: Arial MT
}
A.FAQ
{
    FONT-WEIGHT: bold;
    COLOR: #330099
}
TD.Header
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: white;
    BACKGROUND-COLOR: #330099;
    TEXT-ALIGN: left
}
TD.MainBody
{
    PADDING-RIGHT: 0px;
    MARGIN-RIGHT: 10px;
    PADDING-TOP: 0mm
}
TABLE.Body
{
    WIDTH: 95%
}
TD.UpdateHeader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: #330099;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center
}
TD.SKQuestion
{
    FONT-SIZE: 10pt
}
TD.SKAnswer
{
    FONT-SIZE: 10pt
}
TD.SKIntro
{
    FONT-SIZE: 10pt
}
.SKLesson
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: #cc0000
}
TD.SKPass
{
    FONT-SIZE: 10pt;
    COLOR: #330099
}
TD.SKFail
{
    FONT-SIZE: 10pt;
    COLOR: #cc0000
}
TD.NewsLink
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 4pt;
    COLOR: black;
    FONT-FAMILY: Arial
}
TD.FAQ
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt
}
TD.TableHeader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: white;
    BACKGROUND-COLOR: #330099
}
TD.TableContent
{
    FONT-SIZE: 10pt;
    BACKGROUND-COLOR: white
}
