BODY
{
    FONT-FAMILY: Arial
}
A
{
    FONT-SIZE: 10pt;
    COLOR: #cc0000;
    TEXT-DECORATION: none
}
A.Update
{
    FONT-SIZE: 8pt;
    COLOR: #cc0000;
    TEXT-DECORATION: none
}
A.Update:hover
{
    FONT-SIZE: 8pt;
    COLOR: #cc0000;
    TEXT-DECORATION: underline
}

TD.MenuItem
{
    COLOR: #ffffff;
    FONT-FAMILY: 'Arial Narrow';
    BACKGROUND-COLOR: #666666
}
TD.Heading
{
    FONT-SIZE: 8pt;
    COLOR: #338999;
    FONT-FAMILY: 'Arial Narrow';
    BACKGROUND-COLOR: #e8eeec
}
.ContactInfo
{
    FONT-SIZE: 8pt
}
TD.MOTF1
{
    FONT-WEIGHT: normal;
    color: white;
    BACKGROUND-COLOR: #cc0000
}
OPTION.MOTF1
{
    COLOR: white;
    BACKGROUND-COLOR: #cc0000
}
TD.AppLabel
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial
}
A.MenuLink
{
    COLOR: white;
    FONT-FAMILY: 'Century Gothic'
}
A.NavLinks
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    COLOR: red;
    FONT-FAMILY: 'Trebuchet MS'
}
A.menutext
{
    FONT-WEIGHT: bold;
    FONT-SIZE: xx-small;
    COLOR: white;
    FONT-FAMILY: Tahoma, Arial;
    TEXT-DECORATION: none
}
A.menutext:hover
{
    COLOR: yellow
}
.menubox
{
    DISPLAY: none;
    PADDING-LEFT: 0px;
    Z-INDEX: 9;
    PADDING-BOTTOM: 7px;
    POSITION: absolute;
    BACKGROUND-COLOR: #330099
}
TD.PageTitle
{
    FONT-WEIGHT: 900;
    FONT-SIZE: 12pt;
    COLOR: #330099;
    FONT-FAMILY: 'Trebuchet MS'
}
TD.Header
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: white;
    BACKGROUND-COLOR: #330099;
    TEXT-ALIGN: left
}
TD.SubHeader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #330099;
    TEXT-ALIGN: left
}
TD.SubHeaderCenter
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #330099;
    TEXT-ALIGN: center
}
TD.UpdateHeader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #330099;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center
}
